{%extends 'layout/layout.html' %}
{%load static %}

{% block app_css %}
    <link rel="stylesheet" href="{% static 'employee_details/css/app.css'%}" />
    <style>
    .container {
      max-width: 450px;
    }
    </style>
{%endblock%}
{% block content %}
<div class="card push-top">
  <div class="card-header">
    Edit User
  </div>
    <div class="card-body">
    {%if form_error %}
     <div class="alert alert-danger">
        <ul>
            <li>{{ form_error }}</li>
        </ul>
      </div>
      {% endif %}
       <br />
        <form method="POST" action="">
            <div class="form-group">
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" value="{{employee_detail.name}}" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" value="{{employee_detail.email}}" />
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" name="phone" value="{{employee_detail.phone}}" />
            </div>
            <button type="submit" class="btn btn-block btn-danger">Update employee</button>
        </form>
    </div>
</div>
{% endblock%}


